.Card {
  background-color: lightgrey;
  font-size: 12px;
  padding: 20px;
  margin-bottom: 10px;
  cursor: grab;
}

.Card-grey {
  background-color: rgba(167, 158, 158, 0.671);
  color: black;
}

.Card-blue {
  background-color: skyblue;
  color: white;
}

.Card-green {
  background-color: rgb(150, 190, 150);
  color: white;
}

.Card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.Card-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.Card-description {
  font-size: 14px;
  color: #555;
}

.Card-grey:hover {
  background-color: #b0bec5;
}

.Card-blue:hover {
  background-color: #4fa3d1;
}

.Card-green:hover {
  background-color: #66bb6a;
}
